<footer class="w-[100%] p-20 items-center justify-center space-y-4">
    <ul class="flex flex-row gap-8 items-center  justify-center">
        <li class="menuItem">Terms Of Use</li>
        <li class="menuItem">Privacy-Policy</li>
        <li class="menuItem">About</li>
        <li class="menuItem">Blog</li>
        <li class="menuItem">FAQ</li>
    </ul>

    <p class="w-[70%] text-center m-auto text-gray-400 text-sm max-md:w-[100%] max-md:text-xs">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
          nulla pariatur.
    </p>

    <ul class="flex flex-row gap-8 items-center  justify-center">
        <li class="p-4 icon rounded-full w-14 h-14 justify-center cursor-pointer items-center flex"> <fa-icon [icon]="Facebook"></fa-icon> </li>
        <li class="p-4 icon rounded-full w-14 h-14 justify-center cursor-pointer items-center flex"> <fa-icon [icon]="instagram"></fa-icon></li>
        <li class="p-4 icon rounded-full w-14 h-14 justify-center cursor-pointer items-center flex"> <fa-icon [icon]="Twitter"></fa-icon></li>
        <li class="p-4 icon rounded-full w-14 h-14 justify-center cursor-pointer items-center flex"> <fa-icon [icon]="Linkedin"></fa-icon> </li>
    </ul>
</footer>