.icon{
    background: #04152d;
    font-size: 22px;
    &:hover {
        box-shadow: 0 0 0.625em #da2f68;
        color: #da2f68;
        ;
    }
}

.menuItem {
    &:hover {
        color: #da2f68;
    } 
}
