<div class="h-[450px] md:h-[700px] relative flex items-center w-[100%]">
    <img [src]="bg_image" class="w-[100%] h-[100%] top-0 left-0 opacity-90 overflow-hidden object-center md:object-cover absolute"/>
    <div class="absolute bottom-0 left-0 h-[250px] w-[100%] opacity-layer"></div>
    <div class="text-white  m-auto   relative items-center text-center flex flex-col">
        <h1 class="text-4xl md:text-7xl font-bold">Welcome.</h1>
        <h4 class="text-xl md:text-2xl mt-2 mb-8">Millions of movies, TV shows and people to discover. Explore now.</h4>
       <div class=" flex  justify-center  md:w-[100%] w-[90%]">
        <input type="text" name="search" #searchInput class="p-4 px-6 rounded-l-full outline-none text-black md:text-lg text-sm w-[100%]" placeholder="Search for a movie or tv show...."  />
        <button class="bg-gradient-to-t from-orange-500 to-orange-700 rounded-r-full  p-4 px-6  text-sm md:text-lg" (click)="onSubmit(searchInput.value)" >Search</button>
       </div>
    </div>
    
</div>