@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    
}

body {
    background: #04152d;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.active-switch {
    background: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    border-radius: 1.5rem/* 24px */;
    padding-left: 2.5rem/* 40px */;
    padding-right: 2.5rem;/* 40px */
    padding-top: 0.25rem/* 4px */;
    padding-bottom: 0.25rem/* 4px */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.disabled-switch {
    padding-left: 1.25rem/* 20px */;
    padding-right: 1.25rem/* 20px */;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

footer {
    background: #020c1b;
}




